body{
	padding:0;
	margin: 0;
}
#wrapper{
	width:100%;
	height:auto;
}
.center{
	width: 960px;
	margin: 0px auto;
	padding: 0px 8px;
	height:100%;
}
.font_style{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	line-height: 1;
	font-family: arial,helvetica,sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

/******************  Header CSS Starts ******************/
header{
	display:block;
	width:100%;
	height:128px;
	background-image: url('../images/red-masthead.png');
	background-position:50% 0%;
}
	/* Top Header Starts */
	#top_header{
		width:100%;
		height:39px;
		background: rgba(0,0,0,0.2);
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		background-clip:padding-box; 
		float: left;
	}
	#bbc_logo{
		float:left;
		border-right: 1px solid rgba(255,255,255,0.1);
	}
	#bbc_logo a{
		display:block;
		background:url("../images/blq-blocks_white_alpha.png") no-repeat scroll 0px -180px transparent;
		margin:8px 8px 7px 0px;
		text-decoration: none;
		border:none;
	}
	#bbc_logo img{
		display:block;
	}
	#nav_menu{
		width:auto;
		height:39px;
		float:right;
	}
	#nav_content{
		float:left;
		width:auto;
		height:100%;
	}
	#nav_list{
		margin:0px;
		list-style: inside none none;
		background-color: transparent;
		line-height: 1;
		padding:0px;
		height:100%;
	}
	#nav_menu ul li.nav_links{
		display:inline;
		float:left;
		height:100%;
		border-left:1px solid rgba(255,255,255,0.1);
	}
	#nav_list div{
		height:100%;
		float: left;
		border-left:1px solid rgba(255,255,255,0.1);
	}
	#nav_menu li a{
		text-decoration: none;
		color:white;
		padding: 8px 12px 3px 11px;
		border-bottom: 0px solid #FFF;
		font-size: 13px;
		height: auto;
		line-height:24px;
		display:block;
		font-weight:bold;

	}
	#news a:hover{
		margin-bottom: -15px;
		border-bottom: 4px solid #9B2313;
	}
	#sports a:hover{
		margin-bottom: -15px;
		border-bottom: 4px solid #FFE711;
	}
	#weather a:hover,#shop a:hover{
		margin-bottom: -15px;
		border-bottom: 4px solid #77CDFF;
	}
	#earth a:hover,#future a:hover,#tv a:hover,#radio a:hover,#more a:hover{
		margin-bottom: -15px;
		border-bottom: 4px solid #FFF;
	}
	#searchbar{
		float: left;
		padding:8px 0px 8px 9px;
		border-left:1px solid rgba(255,255,255,0.1);

	}
	#searchbar div{
		width:140px;
		height:23px;
		background-color:rgba(255,255,255,1);
	}
	#searchbar input{
		height:21px;
		width:106px;
		z-index: 1;
		left: 0px;
		bottom: 0px;
		/*width: 100%;*/
		/*height: 1.5em;*/
		background: none repeat scroll 0% 0% #FFF;
		outline: 0px none;
		border-width: 0px 0px 0px 8px;
		border-color: #FFF;
		border-style: none solid;
	}
	#searchbar button{
		border:0px none;
		background:none repeat scroll 0% 0% transparent;
		position-top:-5px;
		float: left;
		margin-top: -19px;
		margin-left: 110px;
		position:relative;
	}
	/* Top Header Ends */

	/* Mid Header Starts */
	#mid_header{
		width:100%;
		height:64px;
		float: left;
	}
	#head_2{
		padding: 13px 0px 12px 0px;
		margin: 0px;
		float: left;
		width:972px;
	}
	#head_2 a{
		text-decoration: none;
		float:left;
	}
	#head_2 .section_updated{
		position: relative;
		display: inline;
		top: 21px;
		margin-left: 20px;
		font-size: 12px;
		float:left;
		color:white;
	}
	.section_updated .date{
		font-weight: bold;
		text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
		float:left;
	}
	.section_updated .text{
		padding-left:4px;
		float:left;
	}
	#head_2 .rss{
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
		float:right;
		margin-top:21px;
		margin-right: 7px;
	}
	#head_2 .rss .rss_icon{
		background-image: url('../images/gvl3-icons-0-2.png');
		background-position: -797px 0px;
		z-index: 10;
		height: 15px;
	}
	.rss-icon span{
		font-size:1px;
	}
	#country_nav{
		height:48px;
	}
	/* Mid Header Ends */

	/* Bottom Header Starts */
	#bottom_header{
		width:100%;
		height:48px;
		float: left;
	}
	#bottom_header .center{
		width:976px;
		padding:0px;
	}
	#bottom_header #local_nav{
		width:100%;
		height:24px;
		background-color: #330000;
		float:left;
		color:white;
	}
	#bottom_header #local_sub_section{
		width:100%;
		height:24px;
		background-color: #EDEDED;
		float:left;
		line-height: 24px;
		color: #505050;
	}
	#local_nav ul,#local_sub_section ul{
		margin: 0px;
		list-style: inside none none;
		background-color: transparent;
		line-height: 1;
		padding:0px;
		height:100%;
	}
	#local_nav ul li.local_links,#local_sub_section ul li.local_links{
		display: inline;
		text-decoration: none;
		font-weight: bold;
		font-size: 12px;
		margin-right: -1px;
	}
	#local_nav li.local_links a{
		text-decoration: none;
		line-height: 24px;
		padding: 4px 2px 4px 6px;
		background: url("../images/nav-divider.png") no-repeat scroll left center transparent;

	}
	#local_nav ul li.active {
		background-color: #EDEDED;
		color: #505050;
		padding: 5px 3px 5px 0px;
		margin-right: -4px;
		text-decoration: underline;
	}
	#local_nav li.local_links a:hover{
		text-decoration: underline;
	}
	#local_sub_section li.local_links a{
		text-decoration: none;
		line-height: 24px;
		padding: 4px 4px 4px 8px;
		background: url("../images/subnav-divider.png") no-repeat scroll left center transparent;
	}
	#local_sub_section li.local_links a:hover{
		text-decoration: underline;
	}
	/* Bottom Header Ends */

/****************** Header Css Ends ******************/

/****************** Container Css Starts ******************/
#container{
	display:block;
	width:100%;
	height:auto;
	margin-top:24px;
}
#container .center{
	width:976px;
	padding:0px;
}
#container_content{
	width:100%;
	float:left;
}
#container_content a:hover{
	text-decoration:underline;
}
	
	/* Latest Starts */
	#latest{
		width:100%;
		height:42px;
		float: left;
		border-bottom: 1px solid #DDD;
	}
	#latest_content{
		padding:8px 0px;
		float:left;
		font-size: 13px;
		line-height: 21px;
		width: 100%
	}
	#latest_content h4{
		margin:0px;
		float: left;
		color: #505050;

	}
	#latest_content #latest_a{
		width:855px;
		float:left;
	}
	#latest_content #latest_a a{
		text-decoration: none;
		color: #1F4F82;
		padding-left:10px;
	}
	#latest_content #latest_a a:hover{
		text-decoration: underline;
	}
	#latest_content #latest_controls{
		width: 56px;
		padding-right: 8px;
		float:right;
		/*margin-top:8px;*/
	}
	#latest_controls span.latest_btns{
		background-image: url('../images/gvl3-icons-0-2.png');
		height:13px;
		opacity:0.7;
	}
	#latest_controls .latest_btns:hover{
		opacity:1;
	}
	#latest_controls #pause{	
		background-position: -27px 0px;
		width:12px;
		margin-left: 8px;
	}
	#latest_controls #previous{
		background-position: -224px 0px;
		width:10px;
	}
	#latest_controls #next{
		background-position: -246px 0px;
		width:10px;
		margin-left:-8px;
	}
	#latest_controls a.btns_a{
		opacity: 0;
		color: white;
		font-size: 5px;
	}
	#previous a{
		font-size: 3px;
	}
	/* Latest Ends */

	/* Container Left Starts */
	#container_left{
		width:624px;
		float:left;
		position:relative;
		margin:0px 15px 16px 0px;
	}
		/* Top Stories Starts */
		#top_stories{
			float: left;
			width:100%;
			padding-top: 4px;
			padding-bottom: 5px;
		}
		#top_story_1{
			float:left;
			width:100%;
			border-bottom: 1px solid #DDD;
			padding-bottom: 5px;
		}
		#top_story_1 h2{
			margin:0px;
			letter-spacing:-1px;
			width:624px;
			float: left;
			padding-bottom:8px;
		}
		#top_story_1 h2 a{
			text-decoration: none;
			color:#1F4F82;
			line-height: 32px;
			font-size: 32px;
		}
		#s1_slideshow{
			height: 216px;
			width: 384px;
			float: left;
			display: inline;
			margin-top:2px;
			margin-bottom:10px;
		}
		#s1_slideshow img{
			width:384px;
			height:216px;
		}
		#s1_desc{
			margin: 0px;
			width: 224px;
			max-width: 224px !important;
			float: right;
			/*display: block;*/
			font-size:13px;
			color:#505050;
			line-height: 16px;
		}
		#top_story_1 ul{
			list-style: outside none none;
			width: 224px;
			float: left;
			margin:0px 0px 0px -25px;
			height:140px;
		}
		.s1_links{
			width:224px;
			padding-bottom:3px;
		}
		.s1_links span.watch_icons{
			background-image: url('../images/gvl3-icons-0-2.png');
			background-position: -1301px 0px;
			width: 16px;
			height:15px;
			margin: 0px 8px 5px 0px;

		}
		span.hide_text{
			font-size:5px;
			opacity:0;
			line-height: 1px;
		}
		.s1_links a{
			text-decoration: none;
			font-size: 13px;
			line-height: 13px;
			color: #1F4F82;

		}
		#top_story_2{
			float:left;
			width: 624px;
			margin: 0px;
			padding-top: 8px;
			padding-bottom: 15px;
			border-bottom: 1px solid #DDD;
		}
		#top_story_2 h2{
			margin:0px;
			float:left;
			padding-top: 2px;
			margin-bottom: 4px;
		}
		#top_story_2 h2 a{
			text-decoration: none;
			color:#1F4F82;
			line-height: 16px;
			font-size: 16px;
			font-weight:bold;
			float:right;
		}
		#top_story_2 img{
			float: left;
			margin-right: 15px;
			margin-top: 5px;
		}
		#s2_desc{
			margin: 0px;
			float: left;
			font-size:13px;
			color:#505050;
			line-height: 16px;
			margin-top: 3px;
			width:304px;
		}
		#top_story_2 ul{
			list-style: outside none none;
			width: 264px;
			float: left;
			margin-left: -40px;
			margin-top: 2px;
		}
		.s2_links{
			padding-bottom:8px;
		}
		.s2_links a{
			text-decoration: none;
			font-size: 13px;
			line-height: 13px;
			color: #1F4F82;

		}
		#top_story_3{
			float:left;
			width: 624px;
			margin: 0px;
			padding-top: 8px;
			padding-bottom: 15px;
		}
		#top_story_3 h2{
			margin:0px;
			float:left;
			padding-top: 2px;
			margin-bottom: 4px;
		}
		#top_story_3 h2 a{
			text-decoration: none;
			color:#1F4F82;
			line-height: 16px;
			font-size: 16px;
			font-weight:bold;
			float:right;
		}
		#top_story_3 img{
			float: left;
			margin-right: 15px;
			margin-top: 5px;
		}
		#s3_desc{
			margin: 0px;
			float: left;
			font-size:13px;
			color:#505050;
			line-height: 16px;
			margin-top: 3px;
			width:304px;
		}
		#top_story_3 ul{
			list-style: outside none none;
			width: 264px;
			float: left;
			margin-left: -40px;
			margin-top: 2px;
		}
		.s3_links{
			padding-bottom:8px;
		}
		.s3_links a{
			text-decoration: none;
			font-size: 13px;
			line-height: 13px;
			color: #1F4F82;

		}
		/* Top Stories Ends */

		/* Video Slider Starts */
		.slider{
			float:left;
			width:1190px;
			/*width:auto;*/
			height:156px;
			margin-bottom:16px;
		}
		.slider h2{
			margin:0px;
			height:24px;
			line-height: 24px;
			padding-bottom:9px;
			letter-spacing: -1px;
			color: #505050;
		}
		.slider .slider_content{
			/*width:100%;*/
			/*width:auto;*/
			height:124px;
			float:left;
		}
		.slider .left_arrow,.slider .right_arrow{
			position:relative;
			height: 100%;
			float: left;
			width: 24px;
			background-color: #000;
			z-index: 2;
			opacity: 0.8;
			border-left:1px solid white;
		}
		.slider .left_arrow img,.slider .right_arrow img{
			margin-top: 55px;
			margin-left:7px;
		}
		.slider #left_arrow{
			opacity:0.4;
		}
		/*.slider .right_arrow{
			position-relative;
			margin-left:2px;
		}*/
		.slider .slider_invisible{
			display:none;
		}
		.slider div.slider_items{
			/*display: inline;*/
			float:left;
			width:128px;
			height:116px;
			border-left:1px solid white;
			background-color: #D1700E;
			padding: 0px 7px 8px 8px;
			/*font-size:13px;*/
		}
		.slider div.slider_items a span{
			text-decoration:none;
			color:white;
			font-size:13px;
			line-height: 16px;
			float:left;
		}
		.slider div.slider_items img{
			width:143px;
			height:81px;
			margin:0px -7px -8px -8px;
			margin-bottom:1px;
		}
		.slider div.slider_items span.play_background{
			width:11px;
			height:15px;
			padding:8px 10px;
			background-image: url('../images/rgba-0-0-0-07.png');
			background-repeat: repeat;
			/*font-size: 4px;*/
			float: left;
			margin-top: -117px;
			position: relative;
			margin-left: -8px;
			/*line-height: 3px;*/
			
		}
		.slider div.slider_items span.play_background span{
			width:11px;
			height:15px;
			float:left;
			background-image: url('../images/gvl3-icons-0-2.png');
			background-position: -5px -32px;
			line-height: 4px;
		}
		/* Video Slider Ends */
		
		/* Other Stories Starts */
		#other_stories{
			width: 100%;
			float:left;
			border-top: 1px solid #DDD;
			padding-bottom:5px;
		}
		#other_stories ul{
			list-style: outside none none;
			float:left;
			width:49%;
			height:176px;
			margin:4px 0px 4px -40px;
			margin-right:14px;

		}
		#other_stories ul.col_left li{
			padding-bottom: 12px;
			padding-top: 0px;
		}
		#other_stories ul.col_left li:first-child{
			border-bottom:1px solid #DDD;
			margin-top:-1px;
		}

		#other_stories ul.col_left li a{
			text-decoration: none;
			font-size: 16px;
			color:#1F4F82;

		}
		#other_stories ul.col_left li a:hover{
			text-decoration: underline;
		}
		#other_stories ul.col_left h2{
			margin:0px;
		}
		#other_stories ul.col_left p{
			margin:0px;
			font-size:13px;
			color:#505050;
			line-height: 16px;
			width: 304px;
			margin-top:4px;


		}
		#other_stories ul.col_right{
			width:45%;
		}
		#other_stories ul.col_right li{
			padding-top: 7px;
			margin-bottom: 1px;
			margin-top:-1px;
			margin-left:10px;
		}
		#other_stories ul.col_right li:first-child{
			margin-top:-7px;
		}
		#other_stories ul.col_right li a{
			text-decoration: none;
			font-size: 13px;
			color:#1F4F82;
		}
		#other_stories ul.col_right li a:hover{
			text-decoration: underline;
		}
		#other_stories ul.col_right h3{
			margin:0px;
		}
		/* Other Stories Ends */

		/* Reporters Template Starts */
		.reporters_template{
			float:left;
			width: 100%;
			margin: 0px 0px 12px;
			padding-top: 0px;
			border-top: 1px solid #DDD;
		}
		.reporters_template h2{
			margin:0px;
			position: relative;
			padding: 7px 0px 8px;
			border-bottom: 1px solid #DDD;
		}
		.reporters_template h2 a{
			text-decoration: none;
			font-size:24px;
			letter-spacing: -1px;
			line-height: 16px;
			color: #1F4F82;
		}
		.reporters_template ul {
			overflow: hidden;
			list-style: outside none none;
			width: 100%;
			margin: 0px 0px 4px -40px;
			padding-top: 7px;
			display:block;
		}
		.reporters_template ul li{
			display:inline;
			padding-bottom: 10px;
			width: 300px;
			float:left;
			padding-right:12px;
		}
		.reporters_template li a{
			text-decoration: none;
			float:left;
			font-size:13px;
			line-height: 16px;
			color: #1F4F82;
			font-weight:bold;
		}
		.reporters_template li img{
			float:left;
			margin-right: 14px;
		}
		/* Reporters Template Ends */

	/* Container Left Ends */

	/* Container Right Starts */
	#container_right{
		width:336px;
		float:right;
		position:relative;
		margin-top: 8px;
	}
		/* FEATURES-ANALYSIS STARTS */
		.feature_analysis{
			background-color: #EDEDED;
			margin:0px 0px 16px;
			padding-bottom: 8px;
		}
		.feature_analysis_header{
			padding:8px;
		}
		.feature_analysis h2{
			margin: 0px;
			font-size:24px;
			letter-spacing: -1px;
		}
		.feature_analysis_header{
			text-decoration: none;
			font-weight: bold;
			color:#505050;
		}
		#feature_analysis_1 .feature_analysis_header a{
			text-decoration: none;
			font-weight: bold;
			color: #1F4F82;
		}
		#feature_analysis_1 .feature_analysis_header a:hover{
			text-decoration: underline;
		}
		.feature_analysis ul{
			padding: 0px 8px;
			list-style: outside none none;
			position:relative;
			clear:both;
			margin:0px;
		}
		.feature_analysis ul li.feature_analysis_img{
			padding:0px;
			display: inline-block;
			width:320px;
			margin-bottom: 6px;
		}
		.feature_analysis ul li.feature_analysis_img:last-child{
			margin-bottom: 0px;
		}
		.feature_analysis_img h3{
			margin: 0px;
			line-height: 14px;
		}
		.feature_analysis_img img{
			position: relative;
			float: left;
			display: inline;
			margin-top: 1px;
			width: 112px;
			height: 63px;
			margin-right: 8px;
		}
		.feature_analysis_img a{
			text-decoration: none;
			/*font-weight: bold;*/
			color: #1F4F82;
			font-size: 16px;
		}
		.feature_analysis_img p{
			font-size: 13px;
			padding-bottom: 4px;
			padding-top: 6px;
			position:relative;
			margin-left: 4px;
			margin: 0px;
			color: #505050;
			line-height: 16px;
		}
		/* Features-analysis Ends */

		/* Most Popular Section Starts */
		#most_popular{
			width:320px;
			padding:8px;
			margin-bottom: 16px;
			background-color: #EDEDED;
			float:left;
		}
		#most_popular h2{
			width:100%;
			margin: 0px;
			font-size:24px;
			letter-spacing: -1px;
			color:#505050;
			float:left;
		}
		#most_popular h3.tab{
			margin:0px;
			font-size:16px;
			float: left;
			display: inline;
			padding: 7px 16px 6px 8px;
			color:#505050;
			margin-top:8px;

		}
		#most_popular h3.tab a{
			text-decoration: none;
			color:#1F4F82;
		}
		#most_popular h3.tab a:hover{
			text-decoration: underline;
		}
		#most_popular #shared{
			background-color: #FFF;
		}
		#most_popular #shared a{
			color:#D2700F;
		}
		#most_popular div.tab_open{
			float:left;
			width:320px;
			background-color: #FFF;
		}
		div.tab_open ol{
			margin:0px;
			list-style: outside none none;
			margin-left:-40px;
			float:left;

		}
		div.tab_open li{
			border-top: 1px solid #EEE;
			padding:11px 8px 0px 8px;
			float:left;
		}
		div.tab_open li:first-child{
			border:none;
		}
		div.tab_open li a{
			/*width:100%;*/
			text-decoration: none;
			font-size:13px;
			line-height:16px;
			color:#1F4F82;
			font-weight: bold;
			float:left;
			/*width:280px;*/
			
		}
		div.tab_open li a span.num_txt{
			float:left;
			width:280px;
		}
		div.tab_open li a span.num_txt:hover{
			text-decoration: underline;
		}
		div.tab_open li span.number{
			width:14px;
			height:36px;
			float:right;
			background-image: url('../images/livestats-sprite-ko.png');
			position:relative;
			margin-top:-8px;
			background-color: #A9A9A9;

		}
		div.tab_open li .t_1{
			background-position: 1px -5px;
		}
		
		div.tab_open li .t_2{
			background-position: -32px -5px;
		}
		div.tab_open li .t_3{
			background-position: -64px -5px;
		}
		div.tab_open li .t_4{
			background-position: -96px -5px;
		}
		div.tab_open li .t_5{
			background-position: -127px -5px;
		}
		div.tab_open li span.number span{
			font-size:1px;
			float:left;
			color:white;
		}
		#read_tab_open,#video_audio_tab_open{
			display:none;
		}
		/* Most Popular Section Ends */
	
	/* Container Right Ends */

	/* Services Css Starts */
	#services{
		width:100%;
		height:124px;
		padding-bottom: 12px;
		float: left;
	}
	#news_services{
		float:left;
		width: 645px;
	}
	#news_services h2,#news_related_services h2{
		float:left;
		margin:0px;
		padding: 4px 0px 0px 0px;
		margin-bottom: 16px;
		color: #505050;
	}
	#news_services span{
		float:left;
	}
	#news_services ul{
		list-style: outside none none;
		display: inline;
		float: left;
		margin-top: -5px;
	}
	#news_services li{
		position: relative;
		display:inline;
		float:left;
		width:128px;
	}
	#news_services li a{
		text-decoration: none;
		color: #1F4F82;
		font-size: 13px;
		font-weight: bold;
	}
	#news_related_services{
		float: left;
		width:200px;
	}
	#news_related_services a{
		text-decoration: none;
		color:#1F4F82;
	}
	#news_related_services ul{
		list-style: outside none none;
	}
	#news_related_services li a{
		line-height: 13px;
		font-size: 13px;
		font-weight:bold;
	}
	/* Services Css Ends */

/****************** Container Css Ends ******************/

/****************** Footer Css Starts ******************/
footer{
	display:block;
	width:100%;
	height:auto;
	float:left;
}
footer .center{
	width: 976px;
	padding: 0px;
}
#footer_content a:hover{
	text-decoration: underline;
}
	/*footer Content Css Starts*/
	#footer_content{
		float:left;
		width:960px;
		height:78px;
		padding:16px 16px 13px 0px;
		border-top: 1px solid #4C4C4C;
	}
	#footer_links{
		width: 500px;
		height:63px;
		float: right;
	}
	#links_list{
		width: 474px;
		height:63px;
		float: left;
		list-style: none;
		display:block;
		margin-left: 0px;
		margin-top: -4px;
	}
	.list_items ul{
		list-style: none;
	}
	.list_items .items_list li{
		display: inline-block;
		width: 130px;
		padding-right: 8px;
		
	}
	.items_list li a{
		text-decoration:none;
		font-size: 12px;
		color: #4C4C4C;
		line-height: 15px;
	}
	#footer_left{
		width:460px;
		height:auto;
	}
	#footer_left #bbc_logo_footer{
		float:left;
		margin-bottom:23px;
	}
	#footer_content #footer_disclaim{
		width:100%;
		float: left;
		font-size:12px;
		color: #4C4C4C;
	}
	#footer_disclaim p{
		width:307px;
		height:30px;
		line-height: 16px;
	}
	#footer_disclaim #copyright{
		font-weight: bold;
	}
	#footer_disclaim a{
		color: #4C4C4C;
		text-decoration: none;
	}
	/* Footer Content Css Ends */

/****************** Footer Css Ends ******************/